
header {
    padding-top: calc(var(--nav-height) + 30px);
    padding-left: var(--side-padding);
    padding-right: var(--side-padding);
}

h1 {
    line-height: 110%;
    padding-bottom: var(--spacing);
}

h2 {
    padding-bottom: var(--spacing);
}

.article_info p:not(.article_info p:last-child) {
    padding: 0px;
}

main {
    padding-bottom: var(--content-space);
    padding-left: var(--spacing);
    padding-right: var(--spacing);
}

section {
    padding-bottom: var(--content-space);
}
section p:last-child, section ul:last-child, main section:last-child  {
    padding-bottom: 0px;
}

.blockquote {
    padding-top: var(--spacing);
    padding-bottom: calc(var(--spacing) * 2);
}

blockquote {
    font-family: "lores-12", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: calc(var(--font-size) * var(--scale));
    max-width: 35rem;
    letter-spacing: .04em;
    line-height: 118%;
    border-left: 2px solid black;
    padding-left: 16px;
}

.bq_info {
    padding-top: var(--spacing);
    padding-left: 16px;
    opacity:50%;
}

.bq_info::before {
    content: '- ';
}

.start {
    font-family: "lores-12", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    text-align:center;
    border: solid;
    border-radius: 0.5rem;
    margin-top: var(--spacing);
    margin-bottom: var(--spacing);
    padding-top: var(--spacing);
    padding-bottom: var(--spacing);

    width: 50%;
    transition: all 0.1s;
}

.start:hover {
    cursor: pointer;
    transform-origin: center;
    transform: scaleX(1.05);
    border: solid white;
    color: white;
}


@media(min-width: 425px) { 

    :root {
        --display-font-size: 48px;
        --font-size: 18px;
        --spacing: 18px;
        --side-padding: 46px;
        --content-space: 46px;
    }

    .dropdown:hover .dropdown_content {
        display: block;
    }
}

@media(min-width: 920px) { 
  
    :root {
        --display-font-size: 60px;
        --font-size: 18px;
        --spacing: 24px;
        --side-padding: 60px;
        --content-space: 60px;
    }
}

@media(min-width: 1200px) {

    :root {
        --display-font-size: 100px;
        --font-size: 20px;
        --spacing: 36px;
        --side-padding: 80px;
        --content-space: 80px;
    }
}
