:root {
    --side-padding: 10px;
}

header {
    padding-top: calc(var(--nav-height) + 30px);
    padding-left: var(--side-padding);
    padding-right: var(--side-padding);
}

.header_card {
    border-radius: 0.5rem;
    padding-left: var(--spacing);
    padding-right: var(--spacing); 
    padding-top: var(--spacing);
    padding-bottom: var(--spacing);
    width: 100%;
}

h1 {
    line-height: 110%;
    padding-bottom: var(--spacing);
    color: var(--accent-color);
}

h2 {
    padding-bottom: var(--spacing);
}

.article_info p:not(.article_info p:last-child) {
    padding: 0px;
}

main {
    padding-bottom: var(--content-space);
    padding-left: calc( var(--spacing) + var(--side-padding));
    padding-right: calc( var(--spacing) + var(--side-padding));
}

section {
    padding-bottom: var(--content-space);
}
section p:last-child, section ul:last-child, main section:last-child  {
    padding-bottom: 0px;
}

.blockquote {
    padding-top: var(--spacing);
    padding-bottom: calc(var(--spacing) * 2);
}

blockquote {
    font-family: "lores-12", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: calc(var(--font-size) * var(--scale));
    max-width: 35rem;
    letter-spacing: .04em;
    line-height: 118%;
    border-left: 2px solid black;
    padding-left: 16px;
}

.bq_info {
    padding-top: var(--spacing);
    padding-left: 16px;
    opacity:50%;
}

.bq_info::before {
    content: '- ';
}