
/* Styles for all directions */
@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap');
@import url("https://use.typekit.net/usc0cgq.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Symbols+2&display=swap');

:root {
    /* Header */
    --font-display: 'Poppins', sans-serif;
    --display-font-size: 42px;

    /* Main */ 
    --font-body: 'Hanken Grotesk', sans-serif;
    --font-quote: 'Hanken Grotesk', sans-serif;
    --font-size: 16px;
    --scale: 1.4; /* Will adjust h2, blockquote size */
    --spacing: 16px;
    --side-padding: 16px;
    --content-space: 36px;

    /* Navigation */
    --nav-height: 50px; /* Will apply margin-top to headers */
    
    /* colors */
    --hlight-bg-color: rgb(23, 23, 23);
    --hlight-fg-color:white;
}

html{
	scroll-behavior: smooth;	
}

nav {
    /* Main Navigation */
    position: fixed;
    top: 0;
    height: var(--nav-height);
    line-height: var(--nav-height);
    font-family:  var(--font-display);
    font-weight: 500;
    background-color: var(--hlight-bg-color);
    color: var(--hlight-fg-color);
    border-radius: 8px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    right: 0;
    left:0;
}

.main-nav li {
    display: inline-block;
    margin-left:16px;
}

header {
    padding-top: calc(var(--nav-height) + var(--content-space));
    padding-bottom: var(--content-space);
}

header, footer {
    padding-left: var(--side-padding);
    padding-right: var(--side-padding);
}

h1 {
    font-family: var(--font-display);
    font-size: var(--display-font-size);
    font-weight: 600;
    max-width: 48rem;
    padding-bottom: var(--content-space);
    line-height: 90%;
}

main {
    padding-bottom: var(--content-space);
    padding-left: var(--side-padding);
    padding-right: var(--side-padding);
}

h2 {
    font-family: var(--font-display);
    font-size: calc(var(--scale) * var(--font-size));
    max-width: 35rem;
    font-weight: 600;
} 

h3 {
    font-family: var(--font-display);
    font-size:  var(--font-size);
    max-width: 35rem;
    font-weight: 600;
}

p{
    font-family: var(--font-body);
    font-size: var(--font-size);
    max-width: 35rem;
    font-weight: 400;
    line-height: 145%;
    padding-bottom: var(--spacing);
}

ul {
    max-width: 35rem;
}

.list {
    font-family: var(--font-body);
	font-size: var(--font-size);
	padding-bottom: var(--spacing);
	margin-left: .05em;
}

.list li {
	line-height: 120%;
	padding-bottom: var(--spacing);
	margin-left: 20px;
}

.list li:last-child {
    padding-bottom: 0px;
}

.list li::before {
    display: inline-block;
    font-family: 'Noto Sans Symbols 2', sans-serif;
    content:'\25AA';
    text-indent: -1.2em;
}

blockquote{
    font-family: "lores-12", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: calc(var(--scale) * var(--font-size));
    max-width: 35rem;
    letter-spacing: .04em;
    line-height: 118%;
    padding-bottom: var(--spacing);
}


.top {
    position: fixed;
    bottom: 0;
    height: var(--nav-height);
    line-height: var(--nav-height);
    font-family: var(--font-body);
    background: var(--hlight-bg-color);
    color: var(--hlight-fg-color);
    border-radius: 8px;
    margin: 10px;
    right: 0;
    left:0;
    text-align: center;
}

footer {
    font-family: var(--display-font);
    font-size: calc(var(--font-size)/1.2);
    padding-top: var(--content-space);
    padding-bottom: calc(var(--nav-height) + var(--content-space));
}


@media(min-width: 425px) { 

    :root {
        --display-font-size: 48px;
        --font-size: 18px;
        --spacing: 18px;
        --side-padding: 46px;
        --content-space: 46px;
    }
}

@media(min-width: 920px) { 
  
    :root {
        --display-font-size: 60px;
        --font-size: 18px;
        --spacing: 24px;
        --side-padding: 60px;
        --content-space: 60px;
    }
}

@media(min-width: 1200px) {

    :root {
        --display-font-size: 100px;
        --font-size: 20px;
        --spacing: 36px;
        --side-padding: 80px;
        --content-space: 80px;
    }
}

/*Splitting nav to left side and right side
.main-nav li:first-child {
    float:right;
    margin-left: 16px;  }*/