
/* Styles for all directions */

html{
	scroll-behavior: smooth;	
}

/* Main Navigation Start */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--nav-height);
    line-height: var(--nav-height);
    font-family: var(--font-main);
    background-color: var(--background-color);
}
/*Splitting nav to left side and right side */
.main-nav li:first-child {
    float:left;
    margin-left: 16px;
}
.main-nav li {
    float: right;
    margin-right:16px;
}
/* Main Navigation End */

header {
    /* Places the header under the nav */
    padding-top: var(--nav-height);

}

header, main, footer {
    font-size: var(--font-size);
    padding-left: 16px;
    padding-right: 16px;
}

h1 {
    font-family: var(--font-display);
    font-size: var(--display-font-size);
}

h2, h3 {
    font-family: var(--font-main);
    font-weight: 500;
    padding-top: var(--spacing);
    padding-bottom: var(--spacing);
    font-size: calc(var(--scale) * var(--font-size));
} 

p{
    font-family: var(--font-body);
    font-size: var(--font-size);
    max-width: 35rem;
    padding-bottom: var(--spacing);
}

blockquote{
   font-family: var(--font-quote);
   font-size: calc(var(--scale) * var(--font-size));
   margin-bottom: var(--spacing);
}

.top {
    font-family: var(--font-main);
    position: fixed; 
	bottom: 0;
	right: 0;
}

footer {
    font-family: var(--font-body);
    font-size: calc(var(--font-size)/1.2);
    padding-top: var(--spacing);
    padding-bottom: var(--spacing);
}


