
/* Styles for all directions */

html{
	scroll-behavior: smooth;	
}

nav {
    /* Main Navigation Start */
    position: fixed;
    top: 0;
    height: var(--nav-height);
    line-height: var(--nav-height);
    font-family: var(--font-main);
    background-color: var(--hlight-bg-color);
    color: var(--hlight-fg-color);
    border-radius: 8px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    right: 0;
    left:0;
}

/*Splitting nav to left side and right side
.main-nav li:first-child {
    float:right;
    margin-left: 16px;  }*/

.main-nav li {
    display: inline-block;
    margin-left:16px;
}

header {
    /* Places the header under the nav */
    padding-top: var(--nav-height);
}

header, main, footer {
    padding-left: 16px;
    padding-right: 16px;
}

h1 {
    font-family: var(--font-display);
    font-size: var(--display-font-size);
}

article {
    border: 2px solid rgb(23, 23, 23);
    margin-bottom: var(--nav-height);
    border-radius: 8px;
    padding: 10px;
}

h2 {
    font-family: var(--font-display);
    font-weight: 600;
    font-size: calc(var(--scale) * var(--font-size));
} 

h3 {
    font-family: var(--font-display);
    font-weight: 600;

}

p{
    font-family: var(--font-body);
    font-size: var(--font-size);
    max-width: 35rem;
    font-weight: 00;
    line-height: 145%;
}

blockquote{
   font-family: var(--font-quote);
   font-size: calc(var(--scale) * var(--font-size));
   max-width: 35rem;
   letter-spacing: .04em;
   padding-bottom: var(--spacing);
}

.button {
    font-family: var(--font-body);
    font-size: 12px;
    font-weight: 200;
    background: var(--hlight-bg-color);
    color: var(--hlight-fg-color);
    padding: 8px;
    border-radius: 25px; 
}

.top {
    position: fixed;
    bottom: 0;
    height: var(--nav-height);
    line-height: var(--nav-height);
    font-family: var(--font-main);
    border-radius: 8px;
    margin: 10px;
    right: 0;
    left:0;
}

footer {
    font-family: var(--font-body);
    font-size: calc(var(--font-size)/1.2);
    padding-top: var(--spacing);
    background-color: rgb(23, 23, 23);
    color: white;
    padding-bottom: calc(var(--nav-height) * 1.2);
}


