/* Direction 1 */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans+Symbols+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

:root {

    /* Header */
    --font-display: 'Bebas Neue', sans-serif;
    --display-font-size: 140px;
    /* Body */ 
    --font-main: 'Roboto', sans-serif;
    --font-body: 'Roboto', sans-serif;
    --font-quote: 'Roboto', sans-serif;
    --font-size: 16px;
    --scale: 1.8; /* Will adjust h2, h3, blockquote size */
    --spacing: 28px;
    /* Navigation */
    --nav-height: 50px; /* Will apply margin-top to headers */
    /* colors */
    --background-color: white;
}

nav {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.687);
    border-bottom: 2px solid black;
}



h1 {
    line-height: 80%;
    padding-top: var(--spacing);
    padding-bottom: var(--spacing);
}

h2 {

    padding: 10px;
    margin-bottom: 20px;
    margin-top: 30px;
    background-color: rgb(0, 0, 0);
    color: white;
}


blockquote {
    letter-spacing: .04em;
    margin-left: .8em; 
}

.vl {
    border-left: 2px solid black; 
}

p{
    line-height: 140%;
}

.top {
    background: black;
    color: white;
    padding: 4%;
}