/* Direction 3 */
@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700&display=swap');

:root {

    /* Header */
    --font-display: 'Gabarito', sans-serif;
    --display-font-size: 110px;
    /* Body */ 
    --font-main: 'Gabarito', sans-serif;
    --font-body: 'Gabarito', sans-serif;
    --font-quote: 'Gabarito', sans-serif;
    --font-size: 18px;
    --scale: 1.8; /* Will adjust h2, h3, blockquote size */
    --spacing: 28px;
    /* Navigation */
    --nav-height: 50px; /* Will apply margin-top to headers */
    /* colors */
    --nav-color: rgb(23, 23, 23);;
    --nav-font-color:white
}

nav {

    border-radius: 10px;
    margin-top: 10px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 20px;
    right: 0;
    left:0;

}

header {
    background-color: rgb(255, 255, 255); 
}
h1 {
    color: rgb(23, 23, 23); 
}
header p {
    color:  rgb(23, 23, 23);
}

main {
    background-color:  rgb(255, 255, 255); 
}

h1 {
    line-height: 80%;
    padding-top: var(--spacing);
    padding-bottom: var(--spacing);
}

blockquote {
    letter-spacing: .04em;
}

p{
    line-height: 145%;
}

.top {
    background: rgb(255, 255, 255);
    color:rgb(23, 23, 23);
    padding: 3%;
    left: 0;
    border-radius: 10px;
    text-align: center;
    margin: 16px;
    border: 2px solid rgb(23, 23, 23);
  
}

footer {
    background-color: rgb(23, 23, 23);
    color: white;
    padding-bottom: 80px;
}