/* Landing Page */

header {
    padding-top: calc(var(--nav-height) + var(--content-space));
    padding-left: var(--side-padding);
    padding-right: var(--side-padding);
}

header p {
    max-width: 40rem;
}

h1 {
    color: rgb(23, 23, 23); 
    padding-bottom: var(--content-space);
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--spacing);

}

.card_1, .card_2, .card_3 {
    position: relative;
    border-radius: 0.5rem;
    padding: var(--spacing);
    min-width: 17rem;
    max-width: 100vh;
}

.card_1 {
    background-color: var(--accent-color-1);
}

.card_2 {
    background-color: var(--accent-color-2);
}

.card_3 {
    background-color: var(--accent-color-3);
}

.card_content {
    padding-top: 80px;
}

.card_info {
    opacity: 65%;
    padding-bottom:var(--spacing);
}
.card_detail {
    border-top: 1.5px solid var(--hlight-bg-color);
	padding-top: var(--spacing);
    padding-bottom: var(--spacing); 
}

.card_button {
    font-family: 'Noto Sans Symbols 2', sans-serif;
    font-size: 60px;
    height: 2.4rem;
    width: 2.4rem;
    position: absolute;
    top: -10px;
    right: 16px;
    text-align: center; 
    opacity: 60%;
    transition: all 0.3s;
}

.card_1:hover, .card_2:hover, .card_3:hover{
    opacity: 60%;
    cursor: pointer;
    transform: scale(1.02);
}

.card_1:hover .card_button, .card_2:hover .card_button, .card_3:hover .card_button{
    cursor: pointer;
    transform-origin: bottom;
    transform: rotate(45deg);
}

@media(min-width: 920px) { 
  
    .cards {
        flex-direction: row;
    }
}