/* Landing Page */

:root {
    /* Header */
    --font-display: 'Poppins', sans-serif;
    --display-font-size: 42px;

    /* Main */ 
    --font-body: 'Hanken Grotesk', sans-serif;
    --font-quote: 'Hanken Grotesk', sans-serif;
    --font-size: 16px;
    --scale: 1.4; /* Will adjust h2, h3, blockquote size */
    --spacing: 16px;

    /* Navigation */
    --nav-height: 50px; /* Will apply margin-top to headers */
    
    /* colors */
    --hlight-bg-color: rgb(23, 23, 23);
    --hlight-fg-color:white;
}

main {
    padding-right:10px;
    padding-left: 10px;
}

header {
    background-color: rgb(255, 255, 255); 
    padding-bottom: 20px;
}

header p {
    color:  rgb(23, 23, 23);
    padding-bottom: calc(var(--spacing)* var(--scale));
}

h1 {
    color: rgb(23, 23, 23); 
    line-height: 90%;
}

/*
.title {
    font-family: "lores-12", sans-serif;
    font-style: normal;
    font-size:  48px;
    line-height: 10%;
    font-weight: 500;
}
*/

main {
    background-color:  rgb(255, 255, 255); 
}

.card_1, .card_2, .card_3 {
    position: relative;
    border-radius: 0.5rem;
    height: 16rem;
    margin-bottom: 24px;
    padding: 16px;
    max-width: 25rem;
    min-width: 18rem;
}

.card_1 {
    background-color: #0aa85f;
}

.card_2 {
    background-color: #DAC6FB;
}

.card_3 {
    background-color: #FF6F4F;
}

.card_content {
    padding-top: 80px;
}

.card_info {
    opacity: 65%;
    padding-bottom:16px;
}
.card_detail {
    border-top: 1.5px solid rgb(0, 0, 0);
	padding-top: 16px;
    bottom: 1rem; 
}

.card_button {
    font-family: 'Noto Sans Symbols 2', sans-serif;
    font-size: 60px;
    height: 2.4rem;
    width: 2.4rem;
    border-radius: 0.5rem;
    position: absolute;
    top: -10px;
    right: 16px;
    text-align: center; 
    opacity: 60%;
    transition: all 0.3s;
}

footer {
    background-color: rgb(23, 23, 23);
    color: white;
}

@media(min-width: 900px) { 
  
    :root {
        /* Header */
        --display-font-size: 80px;
    }

    main {
        display: flex;
        gap: 24px;
    }

    
    .card_1:hover, .card_2:hover, .card_3:hover{
    opacity: 60%;
    cursor: pointer;
    transform: scale(1.02);
    }
    

    .card_1:hover .card_button, .card_2:hover .card_button, .card_3:hover .card_button{
    cursor: pointer;
    transform-origin: bottom;
    transform: rotate(45deg);
    }

  

    
}