/* Landing Page */

header p {
    color:  rgb(23, 23, 23);
    max-width: 40rem;
}

h1 {
    color: rgb(23, 23, 23); 
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--spacing);

}

.card_1, .card_2, .card_3 {
    position: relative;
    border-radius: 0.5rem;
    padding: var(--spacing);
    min-width: 17rem;
    max-width: 100vh;
}

.card_1 {
    background-color: #0aa85f;
}

.card_2 {
    background-color: #DAC6FB;
}

.card_3 {
    background-color: #FF6F4F;
}

.card_content {
    padding-top: 80px;
}

.card_info {
    opacity: 65%;
    padding-bottom:var(--spacing);
}
.card_detail {
    border-top: 1.5px solid rgb(0, 0, 0);
	padding-top: var(--spacing);
    padding-bottom: var(--spacing); 
}

.card_button {
    font-family: 'Noto Sans Symbols 2', sans-serif;
    font-size: 60px;
    height: 2.4rem;
    width: 2.4rem;
    position: absolute;
    top: -10px;
    right: 16px;
    text-align: center; 
    opacity: 60%;
    transition: all 0.3s;
}

.card_1:hover, .card_2:hover, .card_3:hover{
    opacity: 60%;
    cursor: pointer;
    transform: scale(1.02);
}

.card_1:hover .card_button, .card_2:hover .card_button, .card_3:hover .card_button{
    cursor: pointer;
    transform-origin: bottom;
    transform: rotate(45deg);
}


@media(min-width: 920px) { 
  
    .cards {
        flex-direction: row;
    }

}


/*
.title {
    font-family: "lores-12", sans-serif;
    font-style: normal;
    font-size:  48px;
    line-height: 10%;
    font-weight: 500;
}
*/